body{
    background:#444444;
}
html * {
    margin: 0px;
    padding: 0px; 
    font-family: unset;
}

.navbar{
    height: 8vw;
    width: 100vw;
    background-color: black;
    position: sticky;
    top:0;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.5vw;
    margin-bottom: 3.0vw;
    margin-right: 1.9vw;
    margin-left: 0.8vw;
    margin-top: 3.0vw;
    
    


    
}

.navbar a:hover  {
    text-decoration: none;
}
.navbar ul {
    list-style-type: none;
    width: 80% 
    
    
}

.navbar ul li {
    float: right;
    padding-left: 0%;
    padding-right: 0%;
    height: 50px; 
    line-height: 49px;
    
} 


.navbar ul li:hover {
    background-color:gray;
    cursor: pointer;
}
.banner{
    width:100vw;
    height: auto;
}

.banner img{
    width:100vw;
    height: 40vw;
    z-index: 100;
   

}
.banner .banner-text{
    position: absolute;
    bottom: 45%;
    width: 100%;
    font-size: 4vw;
    text-align: center;
   
    
    

}
.banner-text p{
    margin: 20px;
    text-align: left;
    margin-right: 20px;
    text-align: center;
    color: white;

    
    
}
.banner-text-header{
    font-size: 200%;
    color: white;
    
    
}

.orlando-container {
    width:100vw;
    height: 0px;
    background-color:#444444
} 
.orlando-container p{
    color:red;
    text-align: center;
    font-size: 3.5em;
    font-weight:0.9em
}
.orlando-container p.band-container-content{
    width: 700px;
    margin-left: auto;
    margin-right:auto; 

}



.orlando-container p.band-container-subtitiles{
    color:pink;
    font-size: 300em;
}
.orlando-container-text{
    color:white;
    text-align:center;
    font-size: 1.0em;

}

.orlando-attractions {
    width:100vw;
    margin-left:auto;
    margin-right:auto;
    background-color: #444444;
    overflow:hidden;
    margin-bottom: 10vw;
    
}
.orlando-attractions ul {
    widows: 100%;
    list-style-type: none;
    height: 200px;
}
.orlando-attractions ul li {
    float: left;
    width:50%;
    text-align:center;
    font-size: 30px;
    font-weight: 300;
    color:white;
    
    
   


}
.orlando-attractions ul li img{
    width: 80%;
    height:60%;
}
.orlando-attractions-subtitles{
    font-size: 20px;
    margin-left: 15%;
    margin-right: 15%;
    
}
.attractions-container{
    width:100vw;
    height: 40px;
    margin-bottom: 0px;
    background-color:#444444;

}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

.food-container{
    width:100vw;
    height: 75px;
    margin-bottom: 0px;
    background-color:#444444;
}

.footer-text{
    color:white;
    text-align: center;
}
