body{
    background:#444444;
}
html * {
    margin: 0px;
    padding: 0px; 
    font-family: Georgia, 'Times New Roman', Times, serif
}

.navbar{
    height: 70px;
    width: 100vw;
    background-color: black;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 2.0em;
    margin-top: 10px;
    


    
}

.navbar a:hover  {
    text-decoration: none;
}
.navbar ul {
    list-style-type: none;
    width: 100% 
    
}

.navbar ul li {
    float: right;
    padding-left: 20px;
    padding-right: 20px;
    height: 70px; 
    line-height: 69px;
    
} 


.navbar ul li:hover {
    background-color:gray;
    cursor: pointer;
}
.banner{
    width:100vw;
    height: auto;
}

.banner img{
    width:100vw;
    height: 500px;
    z-index: 100;
   

}
.banner .banner-text{
    position: absolute;
    bottom: 440px;
    width: 100%;
    font-size: 3.0em;
    text-align: left;
    padding-left:20px;
    

}
.banner-text p{
    color:white;
    margin: 20px;
    text-align: left;
    
    
}
.banner-text-header{
    font-size: 1.5em;
    
}

.orlando-container {
    width:100vw;
    height: 115px;
    background-color:#444444;
    margin-bottom:0px;
} 
.orlando-container p{
    color:white;
    text-align: center;
    font-size: 5.0em;
    margin-top: 100px;
    font-weight:0.9em
}
.orlando-container p.band-container-content{
    width: 100vw;
    margin-left: auto;
    margin-right:auto; 

}



.orlando-container p.band-container-subtitiles{
    color:pink;
    font-size: 300em;
}
.orlando-container-text{
    color:white;
    text-align:right;
    font-size: 1.0em;

}

.orlando-attractions {
    width:100vw;
    margin-left:auto;
    margin-right:auto;
    background-color: black;
    overflow:hidden;
    
}
.orlando-attractions img{
    width: 60%;
    height:auto;
    margin-left: 30px;

}
.orlando-attractions-subtitles{
    font-size: 20px;
}
.attractions-container{
    width:100vw;
    height: 60px;
    margin-bottom: 0px;
    background-color: black;
}

.orlando-container-subtitles{
    color:white;
    text-align: center;
    font-size:30px;
    margin-bottom:100px;
   
}
.orlando-attractions{
    color:white;
    font-size: 52px;
    text-align: left;


    
}
.orlando-attractions-subtitles{
    color: white;
    text-align: right;
    margin-left: 900px;
    

}
    
