body{
    background:#444444;
}
html * {
    margin: 0px;
    padding: 0px; 
    font-family: Georgia, 'Times New Roman', Times, serif
}

.navbar{
    height: 70px;
    width: 100vw;
    background-color: black;
    position: fixed;
    top:0;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 2vw;
    margin-top: 10vw;
    margin-right: 2.95vw;
    margin-left: 2vw;
    
    


    
}

.navbar a:hover  {
    text-decoration: none;
}
.navbar ul {
    list-style-type: none;
    width: 100% 
    
    
}

.navbar ul li {
    float: right;
    padding-left: 1%;
    padding-right: 1%;
    height: 70px; 
    line-height: 69px;
    
} 


.navbar ul li:hover {
    background-color:gray;
    cursor: pointer;
}
.banner{
    width:100vw;
    height: auto;
}

.banner img{
    width:100vw;
    height: 500px;
    z-index: 100;
   

}
.banner .banner-text{
    position: absolute;
    bottom: 40%;
    width: 100%;
    font-size: 4vw;
    text-align: center;
    padding-left:20px;
    
    

}
.banner-text p{
    margin: 20px;
    text-align: left;
    margin-right: 20px;

    
    
}
.banner-text-header{
    font-size: 150%;
    color: white;
    background-color: black;
    text-align: left;
    
    
}

.orlando-container {
    width:100vw;
    height: 50vw;
    background-color:#444444;
    
    
} 
.orlando-container p{
    position: absolute;
    bottom: 15%;
    width: 100vw;
    font-size: 5vw;
    text-align: center;
   
    color:white;
}
.orlando-container p.band-container-content{
    width: 100vw;
    margin-left: auto;
    margin-right:auto; 

}



.orlando-container-text{
    color:white;
    text-align:right;
    font-size:100%;

}

.orlando-attractions {
    width:100vw;
    margin-left:auto;
    margin-right:auto;
    background-color: black;
    overflow:hidden;
    
}
.orlando-attractions img{
    width: 60%;
    height:auto;
    margin-left: 30px;

}
.orlando-attractions-subtitles{
    font-size: 20px;
}
.attractions-container{
    width:100vw;
    height: 60px;
    margin-bottom: 0px;
    background-color: black;
}

.orlando-container-subtitles{
    position: absolute;
    bottom: 0%;
    width: 100%;
    font-size: 3vw;
    text-align: center;
    
    color: white;
   
}
.orlando-attractions{
    color:white;
    font-size: 52px;
    text-align: left;


    
}
.orlando-attractions-subtitles{
    color: white;
    text-align: right;
    margin-left: 900px;
    margin-bottom: 30%;
    

}
    
