body{
    background:#444444;
}
html * {
    margin: 0px;
    padding: 0px; 
    font-family: unset;
}

.navbar{
    height: 8vw;
    width: 100vw;
    background-color: black;
    position: sticky;
    top:0;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.5vw;
    margin-bottom: 3.0vw;
    margin-right: 1.9vw;
    margin-left: 0.8vw;
    margin-top: 3.0vw;
    
    


    
}

.navbar a:hover  {
    text-decoration: none;
}
.navbar ul {
    list-style-type: none;
    width: 80% 
    
    
}

.navbar ul li {
    float: right;
    padding-left: 0%;
    padding-right: 0%;
    height: 50px; 
    line-height: 49px;
    
} 


.navbar ul li:hover {
    background-color:gray;
    cursor: pointer;
}
.banner{
    width:100vw;
    height: auto;
}

.banner img{
    width:100vw;
    height: 40vw;
    z-index: 100;
   

}
.banner .banner-text{
    position: absolute;
    bottom: 55%;
    width: 100%;
    font-size: 4vw;
    text-align: center;
   
    
    

}
.banner-text p{
    margin: 20px;
    text-align: left;
    margin-right: 20px;
    text-align: center;

    
    
}
.banner-text-header{
    font-size: 150%;
    color: white;
    
    
}

.orlando-container {
    width:100vw;
    height: 15vw;
    background-color:#444444

} 
.orlando-container p{
    color:white;
    text-align: center;
    font-size: 3vw;
    margin:10%;
}
.orlando-container p.band-container-content{
    width: 700px;
    margin-left: auto;
    margin-right:auto; 
    
    

}



.orlando-container p.band-container-subtitiles{
    color:pink;
    font-size: 300em;
}
.orlando-container-text{
    color:white;
    text-align:center;
    font-size: 1.0em;

}

video {
    object-fit: fill;
  }

.footer-text{
    color:white;
    text-align: center;
}
