body{
    background:#444444;
}
html * {
    margin: 0px;
    padding: 0px; 
    font-family: unset;
}

.navbar{
    height: 8vw;
    width: 100vw;
    background-color: black;
    position: sticky;
    top:0;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.5vw;
    margin-bottom: 3.0vw;
    margin-right: 1.9vw;
    margin-left: 0.8vw;
    margin-top: 3.0vw;
    
    


    
}

.navbar a:hover  {
    text-decoration: none;
}
.navbar ul {
    list-style-type: none;
    width: 80% 
    
    
}

.navbar ul li {
    float: right;
    padding-left: 0%;
    padding-right: 0%;
    height: 50px; 
    line-height: 49px;
    
} 


.navbar ul li:hover {
    background-color:gray;
    cursor: pointer;
}
.banner{
    width:100vw;
    height: auto;
}

.banner img{
    width:100vw;
    height: auto;
    z-index: 100;
   

}
.banner .banner-text{
    position: absolute;
    bottom: 33%;
    width: 100%;
    font-size: 6.5vw;
    text-align: left;
    padding-left:20px;
}
.banner-text p{
    color: white;
    text-align: center;
   
    margin-left: 20%;
    margin-right: 20%;

    
}
.banner-text-header{
    font-size: 100%;
}

.orlando-container {
    width:100vw;
    height: 39vw;
    background-color:#444444

} 
.orlando-container p{
    color:white;
    text-align: center;
    font-size: 3vw;
    margin:5%;
}
.orlando-container p.band-container-content{
    width: 70vw;
    margin-left: auto;
    margin-right:auto; 



}
    
    






.orlando-container-text{
    color:white;
    text-align:center;
    font-size: 1.0em;
    
}

video {
    object-fit: fill;
  }

.banner-themeparks p{
    color: white;
    background-color: black;
    position: absolute;
    top: 240%;
    width: 100%;
    font-size: 3.5vw;
    text-align: center;
    margin-right: 15%;
}

.video{
    width:100vw;
    height:850px;
}
.orlando-containner-sub{
    background-color: black;

}
.footer-text{
    color: white;
    text-align: center;
}
                
              